<link href="../css/NavBar.css" rel="stylesheet" />

<nav id="NavBar">
    <ul>
        <li>
            <a href="/">
                <div><p>Home</p></div>
            </a>
        </li>
        <li>
            <a href="/AddUser">
                <div><p>Add User</p></div>
            </a>
        </li>
        <li>
            <a href="/RemoveUser">
                <div><p>Remove User</p></div>
            </a>
        </li>
        <li>
            <a href="/GetUsers">
                <div><p>Get Users</p></div>
            </a>
        </li>
    </ul>
</nav>

@code {

}
